.imagen_header{
  width:15%;
  height:15%;
  border-radius: 30%;
}

.main_footer{
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.div_main{
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card_main{
width: 50%;
}

.main_header{
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.boton_contacto{
color: black;
margin: 15px;

}

.form2{
  background-color:tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
